.heading_b .sub-heading{
	margin:20px 0;
	display: block;
	font-size: 18px;
}
.uk-slidenav {
    position: absolute;
    top: 60%;
}
ul.template li{
	margin-bottom: 10px;
}
.header_sticky {
    padding-top: 64px;
}


#header_main .uk-navbar {
    border-radius: 0;
    border: none;
    box-sizing: border-box
}

#header_main .uk-navbar-brand {
    line-height: 64px;
    display: inline-block;
    margin: 0;
    text-shadow: none;
    color: #fff
}

#header_main .uk-navbar-nav>li>a {
    height: 64px !important;
    text-shadow: none;
    font-size: 16px;
    border-radius: 0!important;
    line-height: 68px !important;
    border: none!important;
    margin: 0
}

#header_main .uk-navbar-nav>li>a:active, #header_main .uk-navbar-nav>li>a:hover {
    background: 0 0
}

#header_main .uk-navbar-nav>li>a.uk-navbar-nav-subtitle {
    line-height: 50px;
    margin: 0
}

#header_main .uk-navbar-nav>li>a.uk-navbar-nav-subtitle>div {
    margin-top: -12px;
    font-size: 11px
}
.uk-margin-medium-right{
	margin-left:15px;
}
@media only screen and (max-width:959px) {
    .icon_large {
        font-size: 48px
    }
}

.icon_dark {
    color: #727272
}

#header_main {
    -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
    transition: all 280ms cubic-bezier(.4,0,.2,1);
    position: relative;
    z-index: 10;
    background:none;
    box-shadow: 0 0 0 rgba(0,0,0,.16), 0 0 0 rgba(0,0,0,.23);
    padding: 0 ;
    height: auto;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1104;
}
#header_main .uk-navbar {
    background: #fff
}

#header_main .uk-navbar-nav>li>a {
    color: #727272 !important;
    text-transform: uppercase;
    font-size: 14px !important;
    font-family: Roboto,sans-serif !important;
    font-weight: 500 !important;
    box-shadow: inset 0 -4px 0 rgba(255,255,255,0);
    background: 0 0!important;
    -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
    transition: all 280ms cubic-bezier(.4,0,.2,1)
}

#header_main .uk-navbar-nav>li>a:active,#header_main .uk-navbar-nav>li>a:hover {
    color: #727272
}

#header_main .uk-navbar-nav>li.current_active a {
    box-shadow: inset 0 -4px 0 #7cb342
}

#header_main.header-light {
    background: #fff
}

#header_main .header_cta {
    margin-top: 14px
}

@media only screen and (max-width:959px) {
    #header_main .header_cta {
        margin-top: 6px
    }
}

#mobile_navigation_toggle {
    display: none
}

#mobile_navigation .uk-offcanvas-bar {
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,.26);
    -webkit-transition: -webkit-transform 280ms cubic-bezier(.4,0,.2,1);
    transition: -webkit-transform 280ms cubic-bezier(.4,0,.2,1);
    transition: transform 280ms cubic-bezier(.4,0,.2,1);
    transition: transform 280ms cubic-bezier(.4,0,.2,1),-webkit-transform 280ms cubic-bezier(.4,0,.2,1)
}

#mobile_navigation .uk-offcanvas-bar:after {
    display: none
}

#mobile_navigation .uk-offcanvas-bar ul {
    margin: 32px 0 0 0;
    padding: 0;
    list-style: none
}

#mobile_navigation .uk-offcanvas-bar ul>li {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile_navigation .uk-offcanvas-bar ul li a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 8px 20px;
    color: #212121
}

#mobile_navigation .uk-offcanvas-bar ul li a small {
    font-size: 12px;
    color: #727272;
    display: block;
    margin-top: -2px
}

#mobile_navigation .uk-offcanvas-bar ul li a .menu_icon {
    width: 48px;
    text-align: left;
    display: inline-block;
    color: #727272;
    float: left
}

#mobile_navigation .uk-offcanvas-bar ul li a .menu_icon .material-icons {
    font-size: 24px;
    vertical-align: top
}

#mobile_navigation .uk-offcanvas-bar ul li a .menu_title {
    display: block;
    overflow: hidden
}

.uk-offcanvas-page {
    -webkit-transition: margin 280ms cubic-bezier(.4,0,.2,1);
    transition: margin 280ms cubic-bezier(.4,0,.2,1)
}

.header_sticky {
    padding-top: 64px
}

@media only screen and (max-width:959px) {
    .header_sticky {
        padding-top: 48px
    }
}

.header_sticky #header_main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000
}

.header_shadow #header_main {
    box-shadow: 0 2px 6px rgba(0,0,0,.25)
}

.banner {
    color: #fff;
    position: relative
}

.banner .uk-slideshow,.banner .uk-slideshow>li {
    height: 640px
}

.banner .uk-slideshow>li {
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat
}

.banner .uk-slideshow>li .slide_content_a {
    margin: 160px 0 0 640px
}

.banner .uk-slideshow>li .slide_content_b {
    margin: 320px 0 0 0;
    background: rgba(0,0,0,.4);
    padding: 24px
}

.banner .uk-slideshow>li .slide_content_c {
    margin: 120px 540px 0 0
}

.banner .uk-slideshow>li .slide_content_c .slide_header,.banner .uk-slideshow>li .slide_content_c p {
    color: #212121
}

.banner .uk-slideshow>li .slide_header {
    color: #fff;
    font: 400 38px/42px Roboto,sans-serif;
    margin: 0 0 18px
}

.banner .uk-slideshow>li p {
    margin: 0;
    font-size: 20px;
    font-weight: 300
}

.banner .uk-slideshow>li p+* {
    margin-top: 32px
}

.banner .slide_navigation {
    display: none
}

.banner:hover .slide_navigation {
    display: block
}

.uk-touch .slide_navigation {
    display: block!important
}

.uk-slidenav {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    color: #fff!important;
    background: rgba(0,0,0,.2);
    border-radius: 12px;
    font-size: 48px;
    -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
    transition: all 280ms cubic-bezier(.4,0,.2,1)
}

.uk-slidenav-previous {
    left: 16px
}

.uk-slidenav-previous:before {
    position: relative;
    left: -2px;
    top: -2px
}

.uk-slidenav-next {
    right: 16px
}

.uk-slidenav-next:before {
    position: relative;
    right: -2px;
    top: -2px
}

.uk-slidenav:active,.uk-slidenav:hover {
    background: rgba(0,0,0,.6);
    border-radius: 50%
}

.uk-dotnav>li {
    border: 2px solid rgba(255,255,255,.8);
    padding: 2px;
    margin-right: 6px;
    border-radius: 50%
}

.uk-dotnav>li.uk-active {
    border-color: #fff
}

.uk-dotnav>li.uk-active>a {
    background: #7cb342
}

.uk-dotnav>li>a {
    margin: 0;
    width: 14px;
    height: 14px
}

.section {
    padding: 48px 0;
    position: relative
}

.section_large {
    padding: 64px 0
}

.section_dark {
    color: #fff
}

.section_gallery {
    position: relative
}

.section_gallery .slide_navigation {
    display: none
}

.section_gallery:hover .slide_navigation {
    display: block
}[class*=uk-width].uk-container-center {
    float: none
}

@media only screen and (max-width:1219px) {
    .banner .uk-slideshow,.banner .uk-slideshow>li {
        height: auto;
        min-height: 360px
    }

    .banner .uk-slideshow>li .slide_content_a,.banner .uk-slideshow>li .slide_content_b,.banner .uk-slideshow>li .slide_content_c {
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,.4);
        padding: 48px 48px 0;
        text-align: center
    }

    .banner .uk-slideshow>li .slide_header {
        margin-bottom: 20px;
        color: #fff!important
    }

    .banner .uk-slideshow>li p {
        font-size: 20px;
        color: #fff!important
    }

    .banner .uk-slideshow>li p+* {
        margin-top: 24px
    }
}

@media only screen and (max-width:959px) {
    #header_main {
        height: 48px
    }

    #header_main .uk-navbar-brand {
        line-height: 48px;
        padding: 0
    }

    #main_navigation {
        display: none
    }

    #mobile_navigation_toggle {
        padding: 12px 4px 10px;
        display: inline-block
    }

    #mobile_navigation_toggle i {
        font-size: 24px
    }
}

@media only screen and (max-width:767px) {
    .banner .uk-slideshow>li {
        background-size: auto 100%
    }

    .banner .uk-slideshow>li .slide_content_a,.banner .uk-slideshow>li .slide_content_b,.banner .uk-slideshow>li .slide_content_c {
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,.4);
        padding: 24px 12px;
        text-align: center
    }

    .banner .uk-slideshow>li .slide_header {
        font: 400 24px/28px Roboto,sans-serif;
        margin-bottom: 6px;
        color: #fff!important
    }

    .banner .uk-slideshow>li p {
        font-size: 15px;
        color: #fff!important
    }

    .banner .uk-slideshow>li p+* {
        margin-top: 24px
    }

    .uk-container {
        padding-left: 15px;
        padding-right: 15px
    }
} 