body{
    background-size: cover !important;
    min-height: 100vh;
  
}
a.nav-item.nav-link.active{
    font-family:"San Francisco Display Semibold";
}
.selectdate{  box-shadow: 1px 1px 20px -4px #0806065e; }
.header_title{
    background-size: cover !important;
    width: 100%;
    height: 100px;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.ming{
    color: red;
}
.ultralight{
    font-family: "San Francisco Display Ultralight";
}

.thin{
    font-family: "San Francisco Display Thin";
}

.medium{
    font-family: "San Francisco Display Medium";
}

.semi-bold{
    font-family: "San Francisco Display Semibold";
}

.bold{
    font-family: "San Francisco Display Bold";
}
.custom_select{
    padding: 10px;
    border: 0px;
    width: 100%;

}
.custom_select:focus{
    outline: none;
}
.custom_select:focus > option{
    border:0px;
    outline:0px;
}
.content-kegiatan{
    margin-top: 15px;
}
.content-singgel_page{
    margin-top: 30px;
}
#custom_calendar{
    margin-top:20px; 
    padding-top: 15px;
  
    width: 100%;
    background-color: #355ADC;
    color: #FDFDFE;
    border-radius: 10px 10px 0px 0px;
}
#custom_calendar .btn{
    border: none;
    background-color: transparent;
    color: white;
   font-size: 25px;
   outline: none;
}
#custom_calendar button:focus{
    border: none;
    background-color: transparent;
    color: white;
   font-size: 25px;
   outline: none;
}

.table_custom{
    width:100%;
    color: black;
    padding-left: 10px;
}
.table_custom th{
padding: 10px;
}
.table_custom td{
    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.table_custom td:hover{
    padding: 10px;
    cursor: pointer;
    background: #e8e8e8;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.table_custom td.disable_day:hover{
    padding: 10px;
    cursor: pointer;
    background: none;
    /* border: 1px #e8e8e8 solid; */
    color:#355ADC;
    font-weight: bold;
}

.disable_day{
    color: #C3C5C7;
}
.scroll-box{
    overflow: scroll;
}

.date_kegiatan{
    border-left: #294CCC 10px solid;
    background-color: #355ADC;
    color: white;
    padding-top:30px;
    padding-bottom:30px; 
}
.custom_select{
    background-color: white;
}
.content_kegiatan{
    padding-top:10px;
    padding-right:20px; 
}
.content_kegiatan p{
    margin-bottom: 5px;
}
.content_kegiatan p.desc{
   font-weight: bold;
}
.content_kegiatan span{
    color: gray;
    margin-right: 5px;

}
.content_kegiatan .location_label{
    color: gray;
    margin-right: 5px;

}
.select_date{
    background: #365ADC;
    border-radius: 60px;
    color: white;
    position: absolute;
    width: 45px;
    margin: auto;
    margin-left: 0.8vw;
}

.select_date:hover{
    background: #365ADC !important;
    border-radius: 60px !important;
    color: white !important;
    font-weight: normal !important;
   
}

.scroll-box .row{
margin-top:2px; 
}
.marquee{
    bottom: 0px;
    position: fixed;
    background: white;
    color: black;
    width: 100%;
    height: 35px;
    z-index: 100;
}
.marquee .title{
 padding:6px;
 font-weight: bold;
 background-color:#355ADC; 
 color: white;
}
.marquee_content{
    padding:6px;
    font-weight: bold;
}
.marquee span.content{
    margin-left: 10px;
    margin-right: 10px;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: transparent; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #355ADC; 
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 74, 192); 
}
#month-select{
    text-transform: uppercase;
}

.list_kegiatan a{
    text-decoration: none !important;
    color: black !important;
    cursor: pointer !important;

}

.list_kegiatan a:hover{
    /*color: #666666 !important;*/
}

.load_more{
    margin-top: 10px;
    margin-bottom: 10px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  .about img{
    width: 100%;height: 25vw;
  }
  .about p{
      margin-top: 15px;
      letter-spacing: 0.2px;
      text-align: justify;
  }
  .list-icon-info{
    color: #355ADC;
    list-style: none;
  }
  .list-icon-info li {
   margin-bottom:15px; 
  }
  .list-icon-info i {
    font-size: 25px;
    border: #355ADC 2px solid;
    border-radius: 25px;
    height: 50px;
    width: 50px;
   padding: 10px;
   text-align: center; 
  }
  .list-icon-info span {
    margin-left: 10px;
  }
  .form-pesan input{
    margin-bottom: 10px;
  }
  .form-pesan textarea{
    margin-bottom: 25px;
  }
  .select_date .ada_kegiatan{
      display: none !important;
  }
  .ada_kegiatan{
      float: right;
      display: block !important;
      font-size: 4px !important;
      color: #355ADC;
  }

  @media  (max-width: 576px) {
    .header_title{
        background-size: cover !important;
        width: 100%;
        height: 115px;
        color: #fff;
        text-align: center;
        padding: 15px;
    }
    .list_kegiatan {
        margin-top: 20px;
    }
    body{
     
        background: none !important;
        background-color: #f8f8f8;
    }
    #content_costum_calendar{
        border: 0.1px rgb(201, 197, 197) solid;
    }

    .about img{
        width: 100%;height: 55vw;
      }
    .form-pesan{
        margin-bottom: 20vw;
    }  
    .form-pesan button{
        margin-top: 10px;
        width: 95%;
    }
    .list_kegiatan .container-fluid{
        box-shadow: 0 16px 34px -4px #0806065e;
        margin-bottom: 10vw;
    }

  }
